---
import Layout from "../layouts/layout.astro"
import Converter from "../components/Converter.astro"
---

<Layout>
	<div class="p-12 flex flex-col items-center gap-12">
		<p class="font-semibold text-3xl">Conversor de unidades</p>
		<Converter />
	</div>
</Layout>