--- 
import SelectorUnidades from "./SelectorUnidades.astro"
---
<script src="../scripts/converter.js"></script>
<div class="flex flex-col items-center gap-4 p-12 bg-gray-200 rounded-md">
    <p>Conversor</p>
    <div class="flex flex-col items-center gap-4">
        <div>
            <input 
                id="valorInput"
                type="text" 
                placeholder="Ingresar" 
                class="w-48 p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            > </input>
            <SelectorUnidades id="selectorUnidades" />
        </div>
        <button type="button" class="border-1 p-1 rounded-md" onclick="convertir()">Convertir</button>
        <div>
            <input 
                id="valorResultado"
                type="text" 
                placeholder="Resultado" 
                disabled 
                class="w-48 p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"> 
            </input>
            <SelectorUnidades id="resultadoUnidades" />
        </div>
    </div>
</div>