---
---

<div class="flex items-center justify-between p-4 px-8 bg-gray-800 text-white">
    <a href="/" class="font-semibold text-xl">Unit Converter</a>
    <ul class="nav-links flex space-x-8">
        <li><a href="/">Home</a></li>
        <li><a href="/tabla">Tabla</a></li>
    </ul>
</div>