---
const { id } = Astro.props; 
---

<select name="unidades" id= { id } class="rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring p-2">
    <option value="kg">kg</option>
    <option value="g">g</option>
    <option value="mg">mg</option>
    <option value="lb">lb</option>
    <option value="ton">ton</option>
</select>