---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/icon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Converter</title>
	</head>
	<body class="min-h-screen bg-gray-200">
		<Navbar />
		<slot />
	</body>
</html>